*{
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

form{
    margin-top: 20rem;
    display: flex;
}

label {
    background-size: 20px;
    display: inline-block;
    width: 30rem;
    text-align: left;
}

input{
    background-size: 30px;
    display: inline-block;
    width: 30rem;
}

button {
    margin-top: 10px;
    width: 15rem;
    border-radius: 30px;
}